/.idea/*
.idea/workspace.xml
.idea/workspace.xml
/target/*
target/classes/ch/romankuratli/personallifecoach/server/resources/Quotes$RandomQuote.class
*.class
target/classes/ch/romankuratli/personallifecoach/server/MongoDbConnector.class
target/classes/ch/romankuratli/personallifecoach/server/MongoDbConnector.class
